# Regression Week 2: Multiple Regression (Interpretation)

The goal of this first notebook is to explore multiple regression and feature engineering with existing graphlab functions.

In this notebook you will use data on house sales in King County to predict prices using multiple regression. You will:
* Use SFrames to do some feature engineering
* Use built-in graphlab functions to compute the regression weights (coefficients/parameters)
* Given the regression weights, predictors and outcome write a function to compute the Residual Sum of Squares
* Look at coefficients and interpret their meanings
* Evaluate multiple models via RSS

# Load in house sales data

Dataset is from house sales in King County, the region where the city of Seattle, WA is located.

In [1]:
train <- read.csv('kc_house_train_data.csv', header = TRUE)
test <- read.csv('kc_house_test_data.csv', header = TRUE)

# Learning a multiple regression model

Recall we can use the following code to learn a multiple regression model predicting 'price' based on the following features:
example_features = ['sqft_living', 'bedrooms', 'bathrooms'] on training data with the following code:

(Aside: We set validation_set = None to ensure that the results are always the same)

In [2]:
#example_features <- c('sqft_living','bedrooms','bathrooms')
example_formula <- price~sqft_living+bedrooms+bathrooms
example.model <- lm(example_formula, train)

Now that we have fitted the model we can extract the regression weights (coefficients) as an SFrame as follows:

In [3]:
example.model$coefficients

(Intercept) sqft_living    bedrooms   bathrooms
 87912.8658    315.4067 -65081.8871   6942.1660

# Making Predictions

In the gradient descent notebook we use numpy to do our regression. In this book we will use existing graphlab create functions to analyze multiple regressions. 

Recall that once a model is built we can use the .predict() function to find the predicted values for data we pass. For example using the example model above:

In [4]:
example.predictions <- predict(example.model, train)
example.predictions[1]

       1
271789.3

# Compute RSS

Now that we can make predictions given the model, let's write a function to compute the RSS of the model. Complete the function below to calculate RSS given the model, data, and the outcome.

In [5]:
get_residual_sum_of_square<- function(model,data,outcome){
    #Predicting the output
    prediction <- predict(model, data)
    #Computing the residul errors
    residual_error <- outcome - prediction
    #then square and add them
    rss <- sum(residual_error^2)
    return(rss)
}

Test your function by computing the RSS on TEST data for the example model:

In [6]:
rss_example_train <- get_residual_sum_of_square(example.model,test,test$price)
rss_example_train

[1] 2.737619e+14

# Create some new features

Although we often think of multiple regression as including multiple different features (e.g. # of bedrooms, squarefeet, and # of bathrooms) but we can also consider transformations of existing features e.g. the log of the squarefeet or even "interaction" features such as the product of bedrooms and bathrooms.

You will use the logarithm function to create a new feature. so first you should import it from the math library.

Next create the following 4 new features as column in both TEST and TRAIN data:
* bedrooms_squared = bedrooms\*bedrooms
* bed_bath_rooms = bedrooms\*bathrooms
* log_sqft_living = log(sqft_living)
* lat_plus_long = lat + long 
As an example here's the first one:

In [7]:
#Create some features
train$bedrooms_squared <- train$bedrooms^2
train$bed_bath_rooms <- train$bedrooms*train$bathrooms
train$log_sqft_living <- log(train$sqft_living)
train$lat_plus_long <- train$lat+train$long

test$bedrooms_squared <- test$bedrooms^2
test$bed_bath_rooms <- test$bedrooms*test$bathrooms
test$log_sqft_living <- log(test$sqft_living)
test$lat_plus_long <- test$lat+test$long

* Squaring bedrooms will increase the separation between not many bedrooms (e.g. 1) and lots of bedrooms (e.g. 4) since 1^2 = 1 but 4^2 = 16. Consequently this feature will mostly affect houses with many bedrooms.
* bedrooms times bathrooms gives what's called an "interaction" feature. It is large when *both* of them are large.
* Taking the log of squarefeet has the effect of bringing large values closer together and spreading out small values.
* Adding latitude to longitude is totally non-sensical but we will do it anyway (you'll see why)

In [8]:
head(train)

  id         date            price   bedrooms bathrooms sqft_living sqft_lot
1 7129300520 20141013T000000  221900 3        1.00      1180          5650
2 6414100192 20141209T000000  538000 3        2.25      2570          7242
3 5631500400 20150225T000000  180000 2        1.00       770         10000
4 2487200875 20141209T000000  604000 4        3.00      1960          5000
5 1954400510 20150218T000000  510000 3        2.00      1680          8080
6 7237550310 20140512T000000 1225000 4        4.50      5420        101930
  floors waterfront view ... yr_renovated zipcode lat     long
1 1      0          0    ...    0         98178   47.5112 -122.257
2 2      0          0    ... 1991         98125   47.7210 -122.319
3 1      0          0    ...    0         98028   47.7379 -122.233
4 1      0          0    ...    0         98136   47.5208 -122.393
5 1      0          0    ...    0         98074   47.6168 -122.045
6 1      0          0    ...    0         98053   47.6561 -122.005
  sqft_living15 sqft_lot15 bedrooms_squared bed_bath_rooms log_sqft_living
1 1340            5650      9                3.00          7.073270
2 1690            7639      9                6.75          7.851661
3 2720            8062      4                2.00          6.646391
4 1360            5000     16               12.00          7.580700
5 1800            7503      9                6.00          7.426549
6 4760          101930     16               18.00          8.597851
  lat_plus_long
1 -74.7458
2 -74.5980
3 -74.4951
4 -74.8722
5 -74.4282
6 -74.3489

**Quiz Question: What is the mean (arithmetic average) value of your 4 new features on TEST data? (round to 2 digits)**

In [9]:
#what is the mean for all 4 varaibles
mean(test$bedrooms_squared)
mean(test$bed_bath_rooms)
mean(test$log_sqft_living)
mean(test$lat_plus_long)

[1] 12.44668

[1] 7.503902

[1] 7.550275

[1] -74.65333

# Learning Multiple Models

Now we will learn the weights for three (nested) models for predicting house prices. The first model will have the fewest features the second model will add one more feature and the third will add a few more:
* Model 1: squarefeet, # bedrooms, # bathrooms, latitude & longitude
* Model 2: add bedrooms\*bathrooms
* Model 3: Add log squarefeet, bedrooms squared, and the (nonsensical) latitude + longitude

In [10]:
#Learning Multiple models
model.1.formula <- price~sqft_living+bathrooms+bedrooms+lat+long
model.2.formula <- price~sqft_living+bedrooms+bathrooms+lat+long+bed_bath_rooms
model.3.formula <- price~sqft_living+bedrooms+bathrooms+lat+long+bed_bath_rooms+bedrooms_squared+log_sqft_living+lat_plus_long

In [11]:
model.1 <- lm(model.1.formula, train)
model.2 <- lm(model.2.formula, train)
model.3 <- lm(model.3.formula, train)
model.1$coefficients
model.2$coefficients
model.3$coefficients
#the coefficient of lat_plus_long in model.3 is NA because of Colinearity. It is linearly dependent on the other features

  (Intercept)   sqft_living     bathrooms      bedrooms           lat
-6.907573e+07  3.122586e+02  1.570674e+04 -5.958653e+04  6.586193e+05
         long
-3.093744e+05

   (Intercept)    sqft_living       bedrooms      bathrooms            lat
 -6.686797e+07   3.066101e+02  -1.134464e+05  -7.146131e+04   6.548446e+05
          long bed_bath_rooms
 -2.942990e+05   2.557965e+04

     (Intercept)      sqft_living         bedrooms        bathrooms
   -6.203608e+07     5.294228e+02     3.451423e+04     6.706078e+04
             lat             long   bed_bath_rooms bedrooms_squared
    6.614205e+05    -2.794158e+05    -8.570504e+03    -6.788587e+03
 log_sqft_living    lat_plus_long
   -5.618315e+05               NA

In [12]:
#6 sign for coefficent for bathrooms in model 1?
model.1$coefficients[3] #POSITIVE
model.2$coefficients[4] #Negative

bathrooms
 15706.74

bathrooms
-71461.31

# Comparing multiple models

Now that you've learned three models and extracted the model weights we want to evaluate which model is best.

First use your functions from earlier to compute the RSS on TRAINING Data for each of the three models.

In [13]:
#Compute multiple models
rss.model.1.train <- get_residual_sum_of_square(model.1,train,train$price)
rss.model.2.train <- get_residual_sum_of_square(model.2,train,train$price)
rss.model.3.train <- get_residual_sum_of_square(model.3,train,train$price)

Warning message in predict.lm(model, data):
"prediction from a rank-deficient fit may be misleading"

**Quiz Question: Which model (1, 2 or 3) has lowest RSS on TRAINING Data?** Is this what you expected?

In [14]:
rss.model.1.train
rss.model.2.train
rss.model.3.train

[1] 9.6788e+14

[1] 9.584196e+14

[1] 9.034365e+14

Now compute the RSS on on TEST data for each of the three models.

In [15]:
rss.model.1.test <- get_residual_sum_of_square(model.1,test,test$price)
rss.model.2.test <- get_residual_sum_of_square(model.2,test,test$price)
rss.model.3.test <- get_residual_sum_of_square(model.3,test,test$price)

Warning message in predict.lm(model, data):
"prediction from a rank-deficient fit may be misleading"

In [16]:
rss.model.1.test
rss.model.2.test
rss.model.3.test

[1] 2.255005e+14

[1] 2.233775e+14

[1] 2.592363e+14

**Quiz Question: Which model (1, 2 or 3) has lowest RSS on TESTING Data?** Is this what you expected? Think about the features that were added to each model from the previous.